.wrapper {
  width: 100%;
  padding-bottom: 3rem;
}

.hero {
  display: flex;
  align-items: center;
  max-width: 50rem;
  padding: 3rem 6rem;
}

.content {
  flex: 1;
}

@media (max-width: 768px) {
  .hero {
    padding: 2rem 1rem;
  }
  .wrapper {
    padding-bottom: 1rem;
  }
}
