.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 3rem 3rem;
}

.heading {
  margin: 10px 0 20px;
}

.heading::after {
  content: '';
  display: block;
  width: 4rem;
  height: 0.25rem;
  background-color: var(--custom-color);
  margin-top: 0.2rem;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 2rem;
    width: 100%;
    align-items: flex-start;
  }
  .button {
    width: 100%;
    margin: 0 auto;
  }
}
