.wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
  border: 0;
}

.primary {
  color: #f9f9f9;
  background-color: var(--link-color-20);
  border: 1px solid var(--link-color);
  padding: 1rem;
  transition: all 0.2s;
  font-size: 1rem;
}

.secondary {
  color: var(--link-color-30);
  border: 1px solid var(--link-color-50);
  padding: 1rem;
  background-color: transparent;
  transition: all 0.2s;
  text-decoration: none;
}

.link {
  background-color: transparent;
  text-decoration: none;
  font-size: 1rem;
  color: var(--link-color-50);
  transition: all 0.2s;
}

.link {
  padding-left: 0;
  padding-right: 0;
}

.button:hover {
  cursor: pointer;
}

.button svg {
  transform: translateX(0);
  transition: all 0.1s;
}

.animate:hover svg {
  transform: translateX(5px);
}

.animate-back:hover svg {
  transform: translateX(-5px);
}

.primary:hover {
  background-color: var(--link-color-10);
  transition: all 0.3s;
}

.secondary:hover {
  background-color: var(--link-color-20);
  border-color: var(--link-color);
  color: #ffffff;
}

.link:hover {
  color: var(--link-color);
}

.monochromatic,
.monochromatic:hover {
  background-color: transparent;
  color: #ffffff;
  border: none;
}