.wrapper {
  width: 100%;
  color: #ffffff;
  min-height: 498px;
  padding-bottom: 80px;
  background: var(--contact-bg-color);
  background: linear-gradient(0deg, var(--contact-bg-color) 0%, var(--contact-bg-color-50) 100%);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
  height: 100%;
}

.content {
  text-align: left;
  width: 960px;
}
