.avatar {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--background-grey);
  overflow: hidden;
}

.avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--background-grey);
  transform: scale(1.05);
}
