.wrapper {
  width: 100%;
  background: var(--about-bg-color);
  background: linear-gradient(
    0deg,
    var(--about-bg-color) 0%,
    var(--about-bg-color-50) 100%
  );
  padding-bottom: 80px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  max-width: 100rem;
  padding: 3rem 6rem;
}

.content {
  text-align: left;
  flex: 2;
  color: #ffffff;
}

.avatar {
  padding-top: 4rem;
  width: 100%;
  flex: 1;
}
