@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --border-medium-error-color: #d63d07;
  --text-error-color: #e53e3e;
  --text-color: #000;

  --link-color: #000;
  --link-color-10: hsl(0, 0%, 8%);
  --link-color-20: var(--link-color-10);
  --link-color-30: var(--link-color-10);
  --link-color-40: var(--link-color-10);
  --link-color-50: hsl(0, 0%, 16%);
  --link-color-60: hsl(0, 0%, 24%);
  --link-color-70: hsl(0, 0%, 32%);
  --link-color-80: hsl(0, 0%, 40%);
  --link-color-90: hsl(0, 0%, 48%);
  --link-color-100: hsl(0, 0%, 56%);
  --link-color-110: hsl(0, 0%, 64%);
  --link-color-120: hsl(0, 0%, 72%);
  --link-color-200: hsl(0, 0%, 94%);

  --text-shaded-color: var(--link-color-70);

  --blog-bg-color: hsl(153, 74%, 20%);
  --blog-bg-color-10: hsl(153, 74%, 24%);
  --blog-bg-color-20: hsl(153, 74%, 28%);
  --blog-bg-color-30: hsl(153, 74%, 32%);
  --blog-bg-color-40: hsl(153, 74%, 36%);
  --blog-bg-color-50: hsl(153, 74%, 40%);
  --blog-bg-color-60: hsl(153, 74%, 44%);
  --blog-bg-color-70: hsl(153, 74%, 48%);
  --blog-bg-color-80: hsl(153, 74%, 52%);
  --blog-bg-color-90: hsl(153, 74%, 56%);
  --blog-bg-color-100: hsl(153, 74%, 60%);
  --blog-bg-color-110: hsl(153, 74%, 64%);

  --game-bg-color: hsl(11, 88%, 24%);
  --game-bg-color-10: hsl(11, 88%, 28%);
  --game-bg-color-20: hsl(11, 88%, 32%);
  --game-bg-color-30: hsl(11, 88%, 36%);
  --game-bg-color-40: hsl(11, 88%, 40%);
  --game-bg-color-50: hsl(11, 88%, 44%);
  --game-bg-color-60: hsl(11, 88%, 48%);
  --game-bg-color-70: hsl(11, 88%, 52%);
  --game-bg-color-80: hsl(11, 88%, 56%);
  --game-bg-color-90: hsl(11, 88%, 60%);
  --game-bg-color-100: hsl(11, 88%, 64%);
  --game-bg-color-110: hsl(11, 88%, 68%);

  --about-bg-color: hsl(208, 87%, 28%);
  --about-bg-color-10: hsl(208, 87%, 32%);
  --about-bg-color-20: hsl(208, 87%, 36%);
  --about-bg-color-30: hsl(208, 87%, 40%);
  --about-bg-color-40: hsl(208, 87%, 44%);
  --about-bg-color-50: hsl(208, 87%, 48%);
  --about-bg-color-60: hsl(208, 87%, 52%);
  --about-bg-color-70: hsl(208, 87%, 56%);
  --about-bg-color-80: hsl(208, 87%, 60%);
  --about-bg-color-90: hsl(208, 87%, 64%);
  --about-bg-color-100: hsl(208, 87%, 68%);
  --about-bg-color-110: hsl(208, 87%, 72%);

  --contact-bg-color: hsl(285, 59%, 25%);
  --contact-bg-color-10: hsl(285, 59%, 29%);
  --contact-bg-color-20: hsl(285, 59%, 33%);
  --contact-bg-color-30: hsl(285, 59%, 37%);
  --contact-bg-color-40: hsl(285, 59%, 41%);
  --contact-bg-color-50: hsl(285, 59%, 45%);
  --contact-bg-color-60: hsl(285, 59%, 49%);
  --contact-bg-color-70: hsl(285, 59%, 53%);
  --contact-bg-color-80: hsl(285, 59%, 57%);
  --contact-bg-color-90: hsl(285, 59%, 61%);

  --palette-grey: hsl(197, 10%, 25%);
  --palette-grey-10: hsl(197, 10%, 29%);
  --palette-grey-20: hsl(197, 10%, 33%);
  --palette-grey-30: hsl(197, 10%, 37%);
  --palette-grey-40: hsl(197, 10%, 41%);
  --palette-grey-50: hsl(197, 10%, 45%);
  --palette-grey-60: hsl(197, 10%, 49%);
  --palette-grey-70: hsl(197, 10%, 53%);
  --palette-grey-80: hsl(197, 10%, 57%);
  --palette-grey-90: hsl(197, 10%, 61%);
  --palette-grey-100: hsl(197, 10%, 65%);
  --palette-grey-110: hsl(197, 10%, 69%);
  --palette-grey-120: hsl(197, 10%, 73%);

  --background-grey: hsl(180, 10%, 98%);
  --background-grey-darker: hsl(180, 10%, 90%);

  --footer-text-lighter-color: var(--background-grey);
  --footer-text-color: var(--palette-grey-110);
  --footer-bg-darker-color: var(--palette-grey);
  --footer-bg-lighter-color: var(--palette-grey-120);
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  margin: 0;
  background-color: var(--footer-bg-darker-color);
}

main {
  flex: 1;
  text-align: center;
  margin: 0 auto;
  max-width: 200rem;
  padding: 0 1rem;
  background-color: #ffffff;
}

section {
  text-align: left;
}

h1 {
  font-size: 3rem;
  margin: 3rem auto 1rem;
  line-height: 3.3rem;
}

h2 {
  font-size: 2rem;
  margin: 2rem auto 1rem;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 2.3rem;
}

h1,
h3,
h4,
h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 1.2rem;
  font-weight: 200;
}

a {
  color: var(--link-color-200);
  text-decoration: none;
}

@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
    font-weight: 400;
  }
}
