.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--footer-bg-darker-color);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.footer li {
  font-size: 0.8rem;
}

.footer li a {
  color: var(--footer-text-color);
}

.footer li a:hover {
  color: var(--footer-text-lighter-color);
}

.footer li a::before {
  transition: none;
  transform: none;
  height: 0;
}

.footer li a:hover::before {
  transform: none;
}

.divider {
  margin: 20px auto;
  text-align: center;
  height: 1px;
  width: 80%;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 0),
    var(--footer-bg-lighter-color),
    hsla(0, 0%, 0%, 0)
  );
}
