.wrapper {
  display: grid;
  grid-template-areas: 'contents copy';
  grid-template-columns: 500px 600px;
  gap: 3.5rem;
  padding: 0 0 80px;
  align-items: center;
}

.reversed {
  grid-template-areas: 'copy contents';
  grid-template-columns: 600px 500px;
}
